body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: auto;
}

.img_principal {
  width: 40%;
  height: auto;
}

footer {
  background-color: #f2f2f2;
  text-align: center;
  margin: 0% 0% 0% 0%;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

.formacion {
  padding: 3%;
}

.experiencia {
  padding: 3%;
}
